html, body{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
body{
  padding: 6px;
}
.container{
  height: 100%;
}
div.codebtn{
  float: right;
}
#maprow{
  height: 85%;
}
#map{
  height: 85%;
}
.nav-pills{
  margin-left: 20px;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
.marker{
  vertical-align: middle;
  width: 32px;
}